/* Style my navigational Bar Area */
.navbar .navbar-fieldset {
  position: relative;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.navbar ul.show {
  
  display:inline-block;
  position: absolute;

  left: 0;
  top: 35%;
  
}


/* Style for each list item */
.navbar ul li {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between items */

}

/* Style for each link */
.navbar ul li a {
  text-decoration: none;
  color: #333; /* Adjust link color */
  font-size: 23px; /* Adjust font size */
  padding: 10px 15px; /* Adjust padding */
  transition: all 0.3s ease; /* Smooth transition */
}

/* Hover effect for links */
.navbar ul li a:hover {
  background-color: #dcdcdc; /* Change background color on hover */
}


/* Media query for smaller screens */
@media (max-width: 768px) {

  .header{
    display:block;
    width:100%;
    font-size:3em;
  }
}


.navbar ul li.active a {
  background-color: #ff7d7d; /* Change background color for clicked item */
  color: #ff7d7d; /* Adjust text color for better visibility */
}

.navbar fieldset {
  background-color: #C0C0C0; /* Silver Lining background color */
  border: none; /* Remove default border */
  border-radius: 10px; /* Optional: Add some border radius */
  padding: 20px; /* Adjust padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for glossy effect */
  transition: transform 0.7s ease; /* Breathing effect transition */
}

.navbar fieldset:hover {
  transform: scale(0.95); /* Enlarge the fieldset on hover */
}

.color-change-text {
  animation: colorChange 3s infinite;
}

@keyframes colorChange {
  0% { color: #191970; }
  25% { color: #2F4F4F; }
  50% { color: #663399; }
  75% { color: #8B0000; }
  100% { color: #333333; }
}

.glitch-text {
  position: relative;
  animation: glitch 1s infinite alternate;
}
@keyframes glitch {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 2px;
    top: -2px;
  }
  50% {
    left: -2px;
    top: 2px;
  }
  75% {
    left: 2px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.text-grow-shrink {
  animation: growShrink 2s infinite alternate;
}

@keyframes growShrink {
  0% { transform: scale(0.8); }
  100% { transform: scale(1); }
}

.text-pulse {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% { font-size: 100%; }
  100% { font-size: 120%; }
}

.underline-text {
  animation: underline 1s infinite alternate;
}

@keyframes underline {
  0% { text-decoration: none; }
  100% { text-decoration: underline; }
}

/*-----------------------------------*/
.main_fieldset {
  background-color: #C0C0C0; /* Silver Lining background color */
  border: 2.5px solid #5F6A6A; /* Add Muted Gray border */
  border-radius: 10px; /* Optional: Add some border radius */
  padding: 20px; /* Adjust padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for glossy effect */
  transition: transform 0.9s ease; /* Breathing effect transition */
}


.main_fieldset:hover {
  transform: scale(0.99); /* Enlarge the fieldset on hover */
}

@keyframes dashedBorder {
  0% { border-style: solid; }
  50% { border-style: dashed; }
  100% { border-style: solid; }
}

.main_fieldset {
  animation: dashedBorder 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(0.968); }
  50% { transform: scale(1); }
  100% { transform: scale(0.968); }
}

.navbar {
  animation: pulse 4s infinite;
}
.navbar:hover {
  animation-play-state: paused;
}

/*******************************************************/
table.personal_particulars {
  width: 90%; /* Adjust the percentage as needed */
  margin: 0 auto; /* Center the table horizontally */
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.personal_particulars th, .personal_particulars td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid whitesmoke;
}

.personal_particulars th {
    background-color: #536278;
    font-weight:bolder;
}

table.tertiary_education {
  width: 90%; /* Adjust the percentage as needed */
  margin: 0 auto; /* Center the table horizontally */
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.tertiary_education th, .tertiary_education td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #F2F2F2;
}

.tertiary_education th {
    background-color: #536278;
    font-weight:bolder;
}

table.secondary_education {
  width: 90%; /* Adjust the percentage as needed */
  margin: 0 auto; /* Center the table horizontally */
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.secondary_education th, .secondary_education td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #E5E5E5;
}

.secondary_education th {
    background-color: #536278;
    font-weight:bolder;
}

table.relevant_certificates {
  width: 90%; /* Adjust the percentage as needed */
  margin: 0 auto; /* Center the table horizontally */
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.relevant_certificates th, .relevant_certificates td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #E5E5E5;
}

.relevant_certificates th {
    background-color: #536278;
    font-weight:bolder;
}


table.work_experience {
  width: 90%; /* Adjust the percentage as needed */
  margin: 0 auto; /* Center the table horizontally */
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.work_experience th, .work_experience td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #E5E5E5;
}

.work_experience th {
    background-color: #536278;
    font-weight:bolder;
}


